.banner {
    background-color: burlywood;
}
/* .logo_site {
} */
.titre_site {
padding-top: 1%;
text-align: center;
}
.nav_bar {
    background-color: #2d81ff;
    
}
.block_cal_map {
    justify-content: center;
    display: inline-flex;
    margin: 0%;
    background-color: #a10f0f00;
    width: 100%;
}
.calendar {
    margin-right : 5%;
    background-color: white;
}
.ads_params {
    align-content: center;
    margin: 0;
    width: 100%;
    height: 250px;
}
/* .avis {}
.description {}
.footer {}

 */